@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Poppins:wght@100;200;400;500;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    height: 100%;
}

#naptha_container0932014_0707 {
    display: none !important;  /* Oculta el elemento si es visible */
    /* o puedes intentar otras propiedades que anulen el estilo, como */
    /* background: none; */
    /* border: none; */
    /* ... */
  }
  
.cont-btn-home-login{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1%;
    padding-left: 1%;
}

.HomeButton-login{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
}

.cont-home-login{
    height: 40px;
    display: grid;
    place-self: start;
    align-self: center;
}

.img-fondo-login {
    background-image: url("../images-fondo/fondo-lrc.png");
    background-size: cover;
    background-position: center;
}

.container-login {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;

}

.form-logo-login{
    height: 150px;
}

.logo-login {
    width: 149px;
    height: 149px;
    margin-top: 1%;
    margin-bottom: 3%;
}


.form-login {
    text-align: center;
    width: 375px;
    height: 452px;
    border-style: solid;
    border-color: #C1C1C1;
    border-width: 2px;
    background-color: #FFF;
}

.titulo-login {
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 4%;
}

.contenedor-cajas-login{
    height: 70px;
}


.nom-cajas-login {
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: flex;
    padding-left: 9%;
}

.cajas-login {
    width: 305px;
    height: 36px;
    background-color: #eee;
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    padding-left: 3%;
    color: black;
}

.cajas-login::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    color: black;
}
/*Focus para cambiar el color cuando se selecciona*/
/*
.cajas:focus {
    border-style: solid;
    border-color: #0080ff;
    border-width: 2px;
}

.cajas:valid {
    border-style: solid;
    border-color: #28a745;
    border-width: 2px;
}

.cajas:invalid {
    border-style: solid;
    border-color: red;
    border-width: 2px;
}
*/
.botones-login {
    height: 240px;
    display: grid;
    place-items: center;
}

.cont-btn-rest-contra-login{
    height: 25px;
}

.btn-continuar-login {
    width: 305px;
    height: 36px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    background-color: #3BA4F6;
    border-style: solid;
    border-color: #3BA4F6;
    border-radius: 6px;
    border-width: 1px;
    cursor: pointer;
}

.btn-reestablecerContrasena-login {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #3BA4F6;
}

.btn-creacuenta-login {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.no-cuenta-login {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #000;
}

.crea-cuenta-login {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #3BA4F6;
    margin-bottom: 15%;
}

.cont-line-login {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.horizontal-line-login {
    width: 129px;
    height: 1px;
}

.cont-logos-login {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.logos-login {
    width: 34px;
    height: 34px;
    cursor: pointer;
}