@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Poppins:wght@100;200;400;500;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
  
.img-fondo-password-reset {
    background-image: url("../images-fondo/fondo-lrc.webp");
    background-size: cover;
    background-position: center;
}

.cont-home-password-reset{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2% 0% 2%;
}


.container-password-reset {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}

.logo-password-reset {
    width: 149px;
    height: 149px;
    margin-bottom: 1%;
}

.form-password-reset {
    text-align: center;
    width: 375px;
    height: auto;
    border-style: solid;
    border-color: #C1C1C1;
    border-width: 2px;
    background-color: #FFF;
}

.titulo-password-reset {
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 4%;
}

.contenedor-cajas-password-reset{
    height: 13%;
}
.cont-msj-password-reset {
    height: auto;
    width: 80%;
    margin-left: 9%;
    margin-bottom: 5%;
}

.mensaje-password-reset {
    text-align:start;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #424242;
    line-height: 1.5;
}


.nom-cajas-password-reset {
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: flex;
    padding-left: 9%;
}

.cajas-password-reset {
    width: 305px;
    height: 36px;
    background-color: #eee;
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    padding-left: 3%;
    color: black;
}

.cajas-password-reset::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    color: black;
}

.botones-password-reset {
    height: 100px;
    display: grid;
    place-items: center;
}

.btn-password-reset {
    width: 305px;
    height: 36px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    background-color: #3BA4F6;
    border-style: solid;
    border-color: #3BA4F6;
    border-radius: 6px;
    border-width: 1px;
    cursor: pointer;
}

/*ESTILO PARA VER Y OCULTAR LA CONTRASEÑA*/

.input-contrasena-ojo-reset{
    height: auto;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.password-toggle-reset {
    position: relative;
  }
  
  .password-toggle-reset .toggle-password-button-reset {
    position: absolute;
    top: 0px;
    right: 35px;
    bottom: 0px;
    border: none;
    background: none;
    padding: 0 0.5rem;
    cursor: pointer;
  }

  .toggle-password-button-reset{
    height: auto;
  }
  
  .password-toggle-reset .toggle-password-button-reset:focus {
    outline: none;
  }
  
  .password-toggle-reset .toggle-password-button-reset svg {
    width: 1rem;
    height: 1rem;
    fill: #666;
  }