@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Poppins:wght@100;200;400;500;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    height: 100%;
}
  

.cont-btn-home-registro{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1%;
    padding-left: 1%;
}

.HomeButton-registro{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
}

.cont-home-registro{
    height: 40px;
    display: grid;
    place-self: start;
    align-self: center;
}

.img-fondo-registro{
    background-image: url("../images-fondo/fondo-lrc.png");
    background-size: cover;
    background-position: center;
}

.container-registro {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}

.logo-registro {
    width: 149px;
    height: 149px;
    margin-bottom: 1%;
}

.form-registro {
    text-align: center;
    width: 375px;
    height: 577px;
    border-style: solid;
    border-color: #C1C1C1;
    border-width: 2px;
    background-color: #FFF;
}

.titulo-registro {
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 4%;
}

.contenedor-cajas-registro{
    height: 13%;
}

.contenedor-msj-error-registro{
    background-color: #FFF;
    border-radius: 1px;
    border-color: #000;
    border-style: solid;
}

.mensajes-error-registro{
    height: 20px;
    color: red;
    margin-top: -1px;
    font-size: 12px;
}

.nom-cajas-registro {
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: flex;
    padding-left: 9%;
}

.cajas-registro {
    width: 305px;
    height: 36px;
    background-color: #eee;
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    padding-left: 3%;
    color: black;
}

.cajas-registro::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    color: black;
}

.botones-registro {
    height: 210px;
    display: grid;
    place-items: center;
}

.btn-registrar-registro {
    width: 305px;
    height: 36px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    background-color: #3BA4F6;
    border-style: solid;
    border-color: #3BA4F6;
    border-radius: 6px;
    border-width: 1px;
    cursor: pointer;
}

.btn-iniciarsesion-registro {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.con-cuenta-registro {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #000;
}

.inicia-ahora-registro {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #3BA4F6;
    cursor: pointer;
}

.cont-line-registro {
    width: 85%;
    height: 5px;
    display: flex;
    justify-content: space-between;
}

.horizontal-line-registro {
    width: 129px;
    height: 1px;
}

.cont-logos-registro {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.logos-registro {
    width: 34px;
    height: 34px;
    cursor: pointer;
}