@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Poppins:wght@100;200;400;500;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    height: 100%;
}

#naptha_container0932014_0707 {
    display: none !important;  /* Oculta el elemento si es visible */
    /* o puedes intentar otras propiedades que anulen el estilo, como */
    /* background: none; */
    /* border: none; */
    /* ... */
  }
  
.img-fondo-restablecer {
    background-image: url("../images-fondo/fondo-lrc.png");
    background-size: cover;
    background-position: center;
}

.cont-btn-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1%;
    padding-left: 1%;
}

.HomeButton{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
}


.container-restablecer {
    padding-top: 6.8%;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.logo {
    width: 149px;
    height: 149px;
    margin-bottom: 1%;
}

.form-restablecer {
    text-align: center;
    width: 375px;
    height: 390px;
    border-style: solid;
    border-color: #C1C1C1;
    border-width: 2px;
    background-color: #FFF;
    margin-bottom: 2.8%;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 4%;
    margin-bottom: 6%;
}

.cont-msj {
    width: 80%;
    margin-left: 9%;
    margin-bottom: 10%;
}

.mensaje-restablecer {
    text-align:start;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #424242;
    line-height: 1.5;
}


.nom-cajas {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: flex;
    padding-left: 9%;
}

.cajas {
    width: 305px;
    height: 36px;
    background-color: #eee;
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    padding-left: 3%;
    color: black;
}

.cajas::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    color: black;
}

.botones {
    display: grid;
    place-items: center;
}

.btn-restablecer {
    width: 305px;
    height: 36px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    background-color: #3BA4F6;
    border-style: solid;
    border-color: #3BA4F6;
    border-radius: 6px;
    border-width: 1px;
    cursor: pointer;
}

.btn-regresar {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #3BA4F6;
    margin-bottom: 7%;
    margin-right: 250px;
    cursor: pointer;
}