.text-center {
    text-align: center;
  }
  
  .mb-6 {
    margin-bottom: 1.5rem;
  }
  
  .text-2xl {
    font-size: 1.5rem;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .ml-40 {
    margin-left: 10rem;
  }
  
  .p-6 {
    padding: 1.5rem;
  }
  